

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

a{
 text-decoration: none;
 font-weight: bold;
}

ul
{
    margin-top: 0px;
}

#main{
    width: 75%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#head{
	height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
	-moz-border-radius: 10px; 
    margin-bottom:7px;
	overflow : none;
}
#head-link{
     height: 30px;
     line-height: 30px;
     padding-left: 10px;
     padding-right: 10px;
     border: 1px solid #CDCDCD;
	 background-color: #6495ED;
     margin-bottom:7px;
     clear: both;
     text-align: center;
     font-size: 18px;
	 -moz-border-radius: 10px; 
}
#head-link ul {
	list-style-type: none;
}
#head-link ul li {
	display: inline-table;
	width: 120px;
}
#head-link ul li a {
	color: #f1f1f1;
	text-decoration: none;
	display: block;
}	
#head-link ul li a:hover {
	background: #f1f1f1;
	color: #333;
}
#left{
     width: 19%;
     min-height: 600px;
     border: 1px solid #CDCDCD;
     float:left;
     background-color: #F5F5F5;
     margin-bottom: 7px;
     text-align:left;
}
#content{
	width: 79.5%;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:right;
     height: 600px;
     margin-right: 0px;
     margin-bottom: 5px;
}
#main-content-left{
	width:19%;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:left;
     background-color: #F5F5F5;
     margin-bottom: 5px;
     text-align:center;
	 height:500px;
}
#main-content-right{
	 width:79.5%;
	 height:500px;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:right;
     background-color: #F5F5F5;
     margin-bottom: 5px;
     text-align:center;
	
}
#footer{
     height: auto;
     clear: both;
     border: 1px solid #CDCDCD;
     background-color: #F8F8FF;
     text-align: center;
}
#logoimg{
	width: 200px;
	height: 100px;
}
#logoimg img{
	width: 400px;
	height: 100px;
}
#mssv{
	font-size: 40px;
    text-align:center;
    color: #0000FF;
}
.leftSV {
    width: 30%;
    height:auto;
    float:left;
    margin-top: 30px;
}
.rightSV {
    width:60%;
    float:right;
    margin-top: 30px;
    font-size: 2vw;
    text-align: left;
	margin-right:25px;
}
.img img {
    width: 100%;
	height:250px;
    margin:auto;
    float:left;
    margin-left: 20px;
}
.tennhom {
    text-align:center;
    margin: auto;
    margin-top: 30px;
}
#groupimg 
{
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;

}
#groupimg img{
    width: 100%;
    height: 400px;
    border: 1px solid black;
}

.imageitem img {
    width: 21%;
	height:100px;
    margin:5px;
	padding:5px;
    float: left;
	border: 1px solid black;
	display:block;
	position: relative;
   left:22%;
}
.imagegroup {
	width:100%;
	min-width:100px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	height: 123px;
	
}
#left li a{
	 display: block;
	 padding-left:10px;
	 margin-bottom:6px;
	 font-size: 0.9vw;
	 
}
#left ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
	padding-top:15px;
	padding-right:auto;
	height:auto;
}
#left li a:hover:not(.active){
	left:10%;
	background-color:blue;
    color:white;
	padding: 4px 1px;
	
	
}
#left .active{
	background-color: #4CAF50;
}
/*
 * design blog
 */
.title-blog {
	text-align:left;
    margin: auto;
	margin-left:20px;
    margin-top: 10px;
	font-size:12pt;
}
#blog-content{
	width:100%;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:right;
     height: 600px;
     margin-right: 0px;
     margin-bottom: 5px;
	 background: url(image/bg_header.gif) repeat;
}
.top-item-lag {
	width:95%;
	float:left;
	margin-top:10px;
	margin-left:10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	border: 2px solid #9a8f73;
	height:210px;
	margin-bottom:25px;
}
.img-blog-lag img{
	width: 50%;
	height:175px;
    margin:5px;
	padding:5px;
    float: left;
	border: 1px solid black;
	display:block;
	position: relative;
}
.bloglag-right-hotnhat {
    width: 39%;
    height: auto;
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #5f4b33;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.bloglag-right-hotnhat a {
    display: block;
    font-size: 0.8vw;
    color: #8a623b;
    text-decoration: none;
    padding: 0 0 0 20px;
    background: url(image/iconblog/hot.gif) no-repeat 2px 2px;
}
.item-left{
	width:46%;
	float:left;
	margin-top:10px;
	margin-left:5px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	border: 2px solid #9a8f73;
	height:100px;
}
.item-left1 {
    width: 47%;
    height: auto;
    float: left;
    margin: 5px;
}
.item-left1 img{
	width:100%;
	height:90px;
	
}
.item-left2 {
    width: 47%;
    height: auto;
    float: left;
    margin: 2px;
}
.item-left2 h2{margin:0; padding:0; line-height:15px;}
.item-left2 a {
    font-size: 1vw;
    color: #2f1700;
    text-decoration: none;
}
.item-left2 p {
	font-size:0.9vw;
    margin: 0;
    padding: 0;
}
.item-right{
	width:48%;
	float:right;
	margin-top:10px;
	margin-right:5px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	border: 2px solid #9a8f73;
	height:100px;
}
div.pagination {
    width: 650px;
    padding: 5px;
    margin: 15px 0 10px 0;
    text-align: center;
    float: left;
    clear: both;
    font-size: 12px;
}
div.pagination a {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #776651;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.right-blog {
	width:29%;
	border: 1px solid #CDCDCD;
	float:right;
	margin-top:10px;
	margin-right:10px;
	height:580px;
}
.left-blog {
	width:68%;
	border:1px solid #CDCDCD;
	height:580px;
	margin:5px;
	float:left;
}
.hot-box {
	margin: 75px 0 0 0;
	width: 100%;
    height: auto;
    float: left;
}
ul.tabs{
	margin: 5px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
}
ul.tabs li a {
	width:100%;
    text-decoration: none;
    color: #513d2a;
    display: block;
    font-size: 0.9vw;
    padding: 0 15px;
    outline: none;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 2px solid #9a8f73;
    border-bottom: none;
    margin-bottom: -1px;
    background: url(image/tab_bg2.jpg) repeat-x;
    overflow: hidden;
    position: relative;
    margin-right: 2px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}
 html ul.tabs li.active, html ul.tabs  li.active a:hover {
    
    font-weight: bold;
}
ul.tabs li a:hover{
	background :#f4f4f4;
}
.tab-container {
    padding: 0;
    margin: 0;
    border: 2px solid #9a8f73;
    clear: both;
    float: left;
    width: 100%;
    background: #fefefe;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
}
.tabcontent {
    color: #000;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: -5px px 0px -1px;
}
.hide {
    display: none;
}

.box_baihatmoi {
    display: block;
    float: left;
    height: auto;
    margin: 5px 0 0 5px;
	
}
.name-baihat1 {
	width:100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.9vw;
    display: block;
    line-height: 26px;
    background: url(image/iconblog/icon_tim.png) no-repeat 0 7px ;
}
.name-baihat1 a{
		text-decoration:none; color:#000; display:block;
		font-weight:normal; padding:0 0 0 15px;  
		width:100%;
	}
.name-baihat1 a:hover{
		text-decoration:underline; color:#666;
	}
.search {
	margin-left:20px;
}
.input-search {
	margin-top:15px;
	width:70%;
}

.side-bar-blog{
	
}



/*
 *reponsive
 */
 
 /*Tablet*/
 @media screen and (min-width: 150px) and (max-width:650px){
	 .body{
		 margin: 0 auto;
		 width: 100%;
	}
	#main{
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
	#head{
	width:100%;
	height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;
}
#head-link{
	 height: 80%;
     line-height: 30px;
     padding-left: 10px;
     padding-right: 10px;
     border: 1px solid #CDCDCD;
     background-color: #6495ED;
     margin-bottom:5px;
     clear: both;
     text-align: center;
     font-size: 18px;
}
#head-link ul {
	list-style-type: none;
	width:230px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position:relative;
	margin-left:auto;
	min-width:28%;
    height: auto;
	margin-right:auto;
}
#head-link ul li {
	display: inline-table;
	width: 120px;
	
}
#head-link ul li a {
	color: #f1f1f1;
	text-decoration: none;
	display: block;
}	
#head-link ul li a:hover {
	background: #f1f1f1;
	color: #333;
}
#left{
     width: 17%;
     min-height: 600px;
     border: 1px solid #CDCDCD;
     float:left;
     background-color: #F5F5F5;
     margin-bottom: 5px;
     text-align:left;
}
#content{
	width: 80.9%;
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:right;
     margin-right: 0px;
     margin-bottom: 5px;
}
#main-content{
     min-height: 400px;
     border: 1px solid #CDCDCD;
     float:left;
     background-color: #F5F5F5;
     margin-bottom: 5px;
     text-align:center;
}
#footer{
     height: auto;
     clear: both;
     border: 1px solid #CDCDCD;
     background-color: #F8F8FF;
     text-align: center;
}
#logoimg{
	width: 100%;
}
#logoimg img{
	width: 100%;
}
#mssv{
	font-size: 6vw;
    text-align:center;
    color: #0000FF;
}
.leftSV {
    width: 35%;
    height:auto;
    float:left;
    margin-top: 30px;
}
.rightSV {
    width:50%;
    float:right;
    margin-top: 30px;
    font-size: 2.5vw;
    text-align: left;
}
.img img {
    width: 100%;
	height:250px;
    margin:auto;
    float:left;
    margin-right: 20px;
	margin-left: 20px;
}
.tennhom {
    text-align:center;
    margin: auto;
    margin-top: 30px;
}
#groupimg 
{
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;

}
#groupimg img{
    width: 100%;
    height: 400px;
    border: 1px solid black;
}

.imageitem img {
    width: 21%;
	height:100px;
    margin:5px;
	padding:5px;
    float: left;
	border: 1px solid black;
	display:block;
	position: relative;
   left:22%;
}
.imagegroup {
	width:100%;
	min-width:100px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	height: 123px;
	
}
#left li a{
	 display: block;
	 padding-left:10px;
	 margin-bottom:6px;
	 font-size: 0.9vw;
	 
}
#left ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
	padding-top:15px;
	padding-right:auto;
	height:auto;
}
#left li a:hover:not(.active){
	left:10%;
	background-color:blue;
    color:white;
	padding: 4px 1px;
	
	
}
#left .active{
	background-color: #4CAF50;
}
}


